.git/
.idea/
.pytest_cache
dist
*.egg-info
*.egg/
*.pyc
*.pyo
*.swp
*.cache
.cache/

.circleci
ansible

data/build/*
data/static/*
data/media/*
docs/*
log/*
node_modules
.env
venv

.tox
.coverage
__pycache__

# Compiled Documentation
docs/_build
cached_docker_export/
workspace/
